.layout{
    background-image: url(https://pic.pikbest.com/02/01/22/53K888piC7JN.jpg!bw700);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 50px 0;
    height: 100vh;
    width: 100%;
}
.back_home{
    display: flex;
    align-items: center;
    justify-content: center;
}
